<h1>Add a Goal</h1>

<form action="<%= goals_url %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label>Content
  <textarea name="goal[content]" rows="8" cols="80"></textarea>
</label>

<input type="submit" name="" value="Add a Goal">

</form>
